@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;

    background: #2c2f40;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

/* TEXTO DE FUNDO */
.banner::before {
    content: attr(data-text);

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    font-size: 12em;
    font-weight: 800;
    text-transform: uppercase;

    color: transparent;
    -webkit-text-stroke: 2px white;

    z-index: 1;
}

/* IMAGEM + TEXTO */
.banner::after {
    content: attr(data-text);

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12em;
    font-weight: 800;
    text-transform: uppercase;

    color: white;

    background-image: url("./pexels-musaortac-38042696.jpg");
    background-size: cover;
    background-position: center;

    z-index: 2;

    clip-path: circle(0px at 0px 0px);
}

/* CÍRCULO SEGUE O MOUSE */
.banner.active::after {
    clip-path: circle(250px at var(--x) var(--y));
}
